<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testimonials</title>
  </head>
  <body>
    <a href="index.html"><span>Home</span></a>
    <!-- Testimonials Section -->
    <section class="testimonials">
      <h2>Testimonials</h2>
      <% for(let i = 0; i < reviews.length; i++) { %>
      <!-- Testimonial 1 -->
      <div class="testimonial">
        <p class="quote"><%= reviews[i].review %></p>
        <p class="author"><%= reviews[i].name %></p>
      </div>
      <% } %>

      <!-- Review Form -->
      <div class="review-form">
        <h3>Leave a Review</h3>
        <form
          action="https://my-live-app-84e8b684a076.herokuapp.com/reviews"
          method="post"
        >
          <label for="reviewText">Your Name:</label><br />
          <input type="text" placeholder="Type name here" name="name" />
          ><br />

          <label for="reviewerName">Your Review:</label><br />
          <input type="text" placeholder="Type review here" name="review" />
          /><br />

          <button type="submit">Submit Review</button>
        </form>
      </div>
    </section>

    <script src="main.js"></script>
  </body>
</html>
